a {
	text-decoration: none;
	color:white;
}

a:visited {
	text-decoration: none;
}

body {
	margin-left:auto;
	margin-right:auto;
	font-family:"Raleway";
	/*background-color:silver;*/
	/* IE10 Consumer Preview */ 
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, circle farthest-corner, #C0C0C0 0%, #666666 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle farthest-corner, #C0C0C0 0%, #666666 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle farthest-corner, #C0C0C0 0%, #666666 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #C0C0C0), color-stop(1, #666666));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle farthest-corner, #C0C0C0 0%, #666666 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center, #C0C0C0 0%, #666666 100%);
}

.heavy-font {
	font-weight:bold;
}

header {
	background-image:url(../images/nycdinnerparty.jpg);
	background-repeat:no-repeat;
	text-align:center;
	-webkit-background-size:100% auto;
}

.banner {
	outline:2px solid black;
	margin-left:20px auto;
	margin-right: 20px auto;
	margin-top:40px;
	margin-bottom:40px;
	padding:50px;
	display:inline-block;
	white-space:nowrap;
	background-color: rgba(255, 255, 255, 0.7);
}

.underline {
	text-decoration:underline;
}

.banner__title {
	font-size:5rem;
	font-weight:bold;
	-webkit-text-stroke: 2px black;
	color:white;
}

.banner__subtitle {
	font-size:2.3rem;
}

nav {
	background-color: black;
	white-space:nowrap;
	color:white;
}

.nav__button {
	min-width:max-content;
	/* border:1px solid black; */
	display:inline-block;
	font-size:1.6rem;
	padding:20px;
}

main p {
	text-align:left;
}

/*main img {
	max-width:30%;
	text-align:center;
}*/

h2 {
	font-weight:bold;
	padding-top:8px;
	padding-bottom:8px;
}

.main {
	width:60%;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	font-size:2rem;
	background-color:#f0f0f0;
	padding:30px 30px 30px 20px;
}

.main p {
	padding-top:20px;
	padding-bottom:40px;
	line-height:120%;
}

.instructions__text {
	font-size:1.4rem;
}

.report-button {
	text-align:center;
}

.report-table {
	outline:1px solid black;
	font-size:1.4rem;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

.report-table tr td {
	outline:1px solid black;
	padding:8px;
}

.create-new {
	text-align:center;

